{% extends 'base.html.twig' %}

{% block subtitle %}{{ 'subtitle.help'|trans }}{% endblock %}

{% block content %}

    <div class="py-3">
        <h3>{{ 'help.p1.heading'|trans }}</h3>
        <hr>
        <p>{{ 'help.p1.text'|trans|raw }}</p>
    </div>

    <div class="py-3">
        <h3>{{ 'help.p2.heading'|trans }}</h3>
        <hr>
        <p class="mb-4">{{ 'help.p2.text'|trans|raw }}</p>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'help.table.thead.th1'|trans }}</th>
                    <th>{{ 'help.table.thead.th2'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ 'Output format'|trans }}</th>
                    <td>{{ 'help.table.tbody.td1'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'Frame rate (fps)'|trans }}</th>
                    <td>{{ 'help.table.tbody.td2'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'index.use_image_file'|trans }} / {{ 'index.generate_image'|trans }}</th>
                    <td>{{ 'help.table.tbody.td3'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'Image file'|trans }}</th>
                    <td>{{ 'help.table.tbody.td4'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'Resolution'|trans }}</th>
                    <td>{{ 'help.table.tbody.td5'|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'Background Color'|trans }}</th>
                    <td>{{ 'help.table.tbody.td6'|trans }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="py-3 text-center">
        <a href="{{ path('home_index') }}" class="btn btn-link">{{ 'Back'|trans }}</a>
    </div>

{% endblock %}
