<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>
        {%- block title %}
            {%- block subtitle %}{% endblock -%}
            {%- if block('subtitle') is not empty %} | {% endif -%}
            {%- block site_title %}audio2video.me{% endblock -%}
        {% endblock -%}
    </title>
    <meta name="description" content="{{ block('subtitle') }}">
    <link rel="canonical" href="{{ app.request.uri }}">

    <link rel="apple-touch-icon" href="{{ asset('build/images/logo.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('build/images/logo.png') }}" type="image/x-icon">

    <meta property="og:title" content="{{ block('title') }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ absolute_url(asset('build/images/logo.png')) }}">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:site_name" content="{{ block('title') }}">
    <meta property="fb:admins" content="">
    <meta property="fb:app_id" content="">
    <meta property="og:description" content="{{ block('subtitle') }}">

    <link href="{{ asset('build/vendors.css') }}" rel="stylesheet">

    {% block stylesheets %}
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
    {% endblock %}

    {% include 'widgets/google-adsense.html.twig' %}
</head>

<body>
{% block body %}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home_index') }}">
                <span><i class="fa fa-play-circle"></i> {{ block('site_title') }}</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="{{ path('home_index', {_locale: 'ja'}) }}" class="nav-link {% if app.request.locale == 'ja' %}active{% endif %}">日本語</a></li>
                    <li class="nav-item"><a href="{{ path('home_index', {_locale: 'en'}) }}" class="nav-link {% if app.request.locale == 'en' %}active{% endif %}">English</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block eyecatch %}
    {% endblock %}

    {% block before_container %}
    {% endblock %}

    <div id="container-wrapper">
        <div class="container {% block container_class %}{% endblock %}">
            <div id="content">
                {% block flashes %}
                    {% if app.session.flashbag.peekAll|length > 0 %}
                        {% for type, messages in app.session.flashbag.all %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message|raw }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block after_container %}
    {% endblock %}

    {% block footer %}
        <footer class="pt-4 pb-5 pb-sm-4"><!-- when xs addThis is on bottom -->
            <div class="container">
                <div class="clearfix">
                    <div class="float-left">
                        <a href="http://ttskch.github.io" target="_blank"><b>ttskch</b></a> &copy; 2016 / <a href="https://github.com/ttskch/audio2video" target="_blank"><i class="fa fa-github"></i></a>
                    </div>
                    <div class="float-right">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScLq-NPH9MoHVQv2KBQ7G9Dbv-ot2ZPwnor1pXVTMxZ103wGw/viewform?usp=sf_link" target="_blank"><i class="fa fa-fw fa-envelope-o"></i> Feedback</a>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}

    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendors.js') }}"></script>

    {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}

    {% include 'widgets/addthis.html.twig' %}
    {% include 'widgets/google-analytics.html.twig' %}
{% endblock body %}
</body>
</html>
