{% extends "layout.html.twig" %}

{% block subtitle %}{{ 'index_subtitle'|trans }}{% endblock %}

{% block content %}
    <div class="well">
        <strong>{{ 'lead_description'|trans }}</strong>
    </div>
    <hr>

    {# todo remove 'novalidate' #}
    {{ form_start(form, {name: 'form', attr: {id: 'convert-form', novalidate: 'novalidate' }}) }}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                {{ form_label(form.audio_file) }}
                {{ form_errors(form.audio_file) }}
                {{ form_widget(form.audio_file) }}
                <span class="help-block"><i class="fa fa-exclamation-circle"></i> {{ 'audio_duration_warning'|trans }}</span>
            </div>
            <div class="form-group mb30">
                <button class="btn btn-primary" type="submit"><i class="fa fa-refresh"></i> {{ 'Convert'|trans }}</button>
                <span id="advanced-switcher" class="btn btn-default pull-right {% if form.show_advanced.vars.value %}active{% endif %}">{{ 'advanced_settings'|trans }}</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="advanced-settings" {% if not form.show_advanced.vars.value %}style="display: none;"{% endif %}>
                {{ form_row(form.output_format) }}
                {{ form_row(form.frame_rate) }}

                <ul id="tab-switcher" class="nav nav-tabs mb10">
                    <li {% if form.selected_tab.vars.value == '#tab1' %}class="active"{% endif %}><a href="#tab1">{{ 'use_image_file'|trans }}</a></li>
                    <li {% if form.selected_tab.vars.value == '#tab2' %}class="active"{% endif %}><a href="#tab2">{{ 'generate_image'|trans }}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane {% if form.selected_tab.vars.value == '#tab1' %}active{% endif %}">
                        {{ form_row(form.image_file) }}
                    </div>
                    <div id="tab2" class="tab-pane {% if form.selected_tab.vars.value == '#tab2' %}active{% endif %}">
                        {{ form_row(form.image_resolution) }}

                        <div class="form-group">
                            {{ form_label(form.image_color) }}
                            {{ form_errors(form.image_color) }}
                            <div class="row">
                                <div class="col-xs-9 col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">#</span>
                                        {{ form_widget(form.image_color) }}
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-2">
                                    <span id="color-preview" class="btn btn-block disabled" style="cursor: default; opacity: 100; border: 1px solid #ccc;"><br></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block scripts %}
    <script src="https://cdn.rawgit.com/hekigan/is-loading/master/jquery.isloading.min.js"></script>

    {% if to_be_downloaded %}
        <script>
            location.href = '{{ url('download') }}';
        </script>
    {% endif %}
{% endblock %}
