<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% spaceless %}
        <title>
            {% block subtitle %}{% endblock %}
            {% if block('subtitle') is not empty %} | {% endif %}
            {% block site_title %}audio2video{% endblock %}
        </title>
    {% endspaceless %}
    <meta name="keywords" content="wav, mp3, m4a, aac, wma, mp4, m4v, avi, wmv, convert, generate, 変換, 生成">
    <meta name="description" content="{{ 'meta_description' | trans }}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

    <link href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{ asset('lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/select2/css/select2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/select2-bootstrap/select2-bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">

    {% block style_sheets %}
    {% endblock %}
</head>

<body>
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="."><i class="fa fa-youtube-play"></i> {{ block('site_title') }}</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="content">
            {% block flashes %}
                {% if app.session.flashbag.peekAll|length > 0 %}
                    {% for type, messages in app.session.flashbag.all %}
                        {% for message in messages %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                        </button>
                                        {{ message }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endblock %}

            {% block content %}
            {% endblock %}
            
            {% block footer %}
                <hr class="mt30">
                <div class="text-center">
                    <a href="http://ttskch.github.io" target="_blank"><b>ttskch</b></a> <i class="fa fa-copyright"></i> 2016
                </div>
            {% endblock %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('lib/select2/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    {% block scripts %}
    {% endblock %}

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-575387ee08aaabea"></script>
{% endblock body %}
</body>
</html>
